* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: helvetica;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    margin-top: 190px;
}

.ancho{
 max-width: 100%;
 margin: auto;
 display: flex;
 flex-direction: row;
 position: relative;
}

.texto{
    width: 40%;
    padding: 20px;
}

.texto h1{
    font-size: 50px;
    margin-bottom: 30px;
}

.texto h3{
    color: blue;
}

.texto p{
    color: #757575;
}


.btns{
    position: absolute;
    top: 70%;
    left: 10%;
    gap:10px;
}

.btns a{
    width: 70px;
    height: 70px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slide{
    min-width: 33%;
}

.slide img{
    height: 310px;
}

.btns a i{
    font-size: 30px;
}
